* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  background-color: white;
  max-width: 360px;
  width: 100%;
  padding: 50px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
}

.tree-svg{
  width:50px;
  height:50px;
  color: rgb(0, 0, 95);
}

h2{
  font-family: "Changa", Arial;
  color: rgb(0, 0, 95);
  font-weight: 500;
  margin: 1rem 0 1.5rem 
}

.context-text{
  color: rgb(0, 0, 175);
  font-size: 14px;
  font-family: "Changa";
  line-height: 18px;
  font-weight: 300;
}

.offer-text{
  font-size: 14px;
  color: rgb(216, 141, 0);
}

.get-gift-btn{
  width: 80%;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 0, 66);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  margin: 1.5rem 0 0;
  cursor: pointer;
}

.close-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0;
  transition: background-color 0.2s;
}

.close-btn:hover{
  background-color: rgba(128, 128, 128, 0.3);
}

.close-svg{
  margin: 0;
  color: grey;
  width: 30px;
  height: 30px;
}

.gift-svg{
  height: 80px;
  width: 80px;
}