* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  position: relative;
  background-color: white;
  max-width: 360px;
  width: 100%;
  padding: 50px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-top-right-radius: 25px;
  transition: transform 0.3s;
}

main.hidden{
  transform: scale(0);
}

.tree-svg{
  width:50px;
  height:50px;
  color: rgb(0, 0, 95);
}

h2{
  font-family: "Changa", Arial;
  color: rgb(0, 0, 95);
  font-weight: 500;
  margin: 1rem 0 1.5rem 
}

.context-text{
  color: rgb(0, 0, 175);
  font-size: 14px;
  font-family: "Changa";
  line-height: 18px;
  font-weight: 300;
}

.offer-text{
  font-size: 14px;
  color: rgb(216, 141, 0);
}

/*text-transform = transform text into upper/lower case*/
.get-gift-btn{
  width: 80%;
  color: white;
  font-weight: bold;
  background-color: rgb(0, 0, 66);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  margin: 1.5rem 0 0;
  cursor: pointer;
  text-transform: uppercase;
}

.close-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0;
  transition: background-color 0.2s, transform 0.1s linear;
}

/* rotates the button 90deg*/
.close-btn:hover{
  transform: rotate(90deg);
  background-color: rgba(128, 128, 128, 0.3);
}

.close-svg{
  margin: 0;
  color: grey;
  width: 30px;
  height: 30px;
}

/*Usually when animation ends, the object comes to the starting position "forwards" makes the object stay at the end */
.snow{
  animation: fall 3s linear forwards;
  background-color: white;
  height: 10px;
  width: 10px;
  position: fixed;
  top:-20px;
  left: 0;
  border-radius: 15px;
  z-index: -1;
}

/* We can also use "top" property for animation 
but result would be slower and janky. Transfrom doesn't affect layout, efficient. Hence results in smoother animation */
@keyframes fall{
  0%{
    transform: translateY(-10vh);
  }

  100%{
    transform: translateY(110vh);
  }
}

/*
@keyframes fall{
  0%{
    top: -10vh;
  }

  100%{
    top: 110vh;
  }
}*/