body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn{
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 12px 30px;
  font-size: 15px;
}

/*  transform: translate(-50%, -50%) - 50% = half of element width so it moves half of the element in
opposite direction cntering the element itself*/
.popup-container{
  top: 0;
  left: 50%;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 20px;
  text-align: center;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.popup-container.open{
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
