* {
  box-sizing: border-box;
}

body{
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  background-color: white;
  max-width: 320px;
  padding: 5px 30px;
  border-radius: 8px;
  box-shadow: 50px 50px 20px rgba(0, 0, 0, 0.15);
}

p{
  font-size: 1.5rem;
  font-weight: 500;
  margin: 30px 0px;
}

.profile-container{
  display: flex;
  flex-direction: row;
  margin: 18px 0px; 
}

.user-info-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px 8px;
}

.profile-img{
  width: 42px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.user-age{
  color: rgb(116, 116, 116);
}

.view-all-btn{
  width: 100%;
  color: white;
  background: linear-gradient(to right, rgb(255, 136, 156), rgb(251, 113, 136));
  border: none;
  padding: 12px 0px;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.15s opacity 0.15s;
}

.view-all-btn:hover{
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}

.view-all-btn:active{
  opacity: 0.9;
}
