* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  background-color: white;
  max-width: 360px;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 40px 40px 20px rgba(0, 0, 0, 0.2);
}

h2{
  margin: 0;  
}

/* list-style-type: none removes the default bullet points*/
.list{
  list-style-type: none;
  padding: 0;
}

.list-item{
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.profile-img{
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.user-info-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-name{
  font-size: 1.1rem;
}

.user-age{
  font-size: 0.85rem;
  color: rgb(152, 152, 152);
}

.view-all-btn{
  width: 100%;
  color: white;
  background: linear-gradient(to right, rgb(255, 136, 156), rgb(251, 113, 136));
  border: none;
  padding: 12px 0px;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.15s, opacity 0.15s;
}

.view-all-btn:hover{
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}

.view-all-btn:active{
  opacity: 0.9;
  background: linear-gradient(to left, rgb(255, 136, 156), rgb(251, 113, 136));
}
