body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(241, 241, 241);
}

.main-container{
  display: flex;
  background-color: rgb(165, 165, 255);
  padding: 10px;
  border-radius: 12px;
  align-items: center;
}

h2{
  margin: 2px 0px;
  font-size: 28px;
  text-align: center;
}

p{
  font-size: 15px;
  width: 50%;
  text-align: center;
}

.main-container2{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(77, 77, 255);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 550px;
}

.email-form{
  display: flex;
  width: 60%;
  position: relative;
}

.email-input{
  flex: 1;
  height: 20px;
  font-size: 14px;
  outline: none;
  padding: 10px 15px;
  border-radius: 20px;
  border: 2px solid rgb(221, 221, 221);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

input::placeholder{
  font-size: 14px;
  color: rgb(212, 212, 212);
}

.send-button{
  position: absolute;
  right: 5px;
  top: 4px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
}

.send-svg{
  margin-top: 3px;
  height: 15px;
  width: 15px;
}

.profile-pic-container{
  width: 80%;
  display: flex;
  bottom: -50px;
  position: absolute;
  justify-content: space-evenly;
}

.profile-pic{
  width: 60px;
  border: 4px solid white;
  border-radius: 50%;
}


